.person{
    margin:15px  auto;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #eee;
    text-align: center;
    width:60%;
}

@media (min-width: 500px){
    .person{
        width: 300px;
        background-color: #999;
    }
}